@font-face {
  font-family: product-sans-bold;
  src: url(../fonts/product-sans-regular.ttf);
}

.navbar {
  font-family: arial, sans-serif;
  font-size: 1em;
  color: #212121;
  padding-top: 0.6875em;
}

.navbar ul {
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: right;
}

.navbar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.625em 0 0.625em;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#apps-btn {
  font-size: 1.5rem;
}

#profile-btn {
  font-size: 2.25em;
}

.logo {
  font-family: product-sans-bold;
  font-size: 2.7em;
  text-align: center;
}

.logo h1 {
  margin: 25vh 0 1.5625rem 0;
}

.search-bar input[type="text"] {
  padding: 0.75em 0.625em 0.75em 0.625em;
  border-radius: 3.125em;
  border-color: #eff0f2;
  border-width: 0em;
  width: auto;
}

.search-bar input:focus {
  outline: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: 3.125em;
  border-style: solid;
  border-color: #bfc3c7;
  border-width: 0.1em;
  max-width: 36.25em;
  margin: auto;
  padding: 0 0 0 1em;
}

.search-bar #search-btn {
  color: #9aa0a6;
  font-size: 1.25rem;
  display: flex;
}

.search-and-lucky {
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
  font-size: 0.875rem;
}

.search-and-lucky ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.25em 0.3125em 1.25em 0.3125em;
  color: #353639;
}

.search li {
  background-color: #f8f9fa;
  margin: 0rem;
  padding: 0.625em 0.9375em 0.625em 0.9375em;
}

.lucky li {
  background-color: #f8f9fa;
  margin: 0rem;
  padding: 0.625em 0.9375em 0.625em 0.9375em;
}

.language {
  font-family: arial, sans-serif;
  text-align: center;
  color: #343537;
  font-size: small;
}

footer {
  font-family: arial, sans-serif;
  font-size: 0.875rem;
  color: #6f6f6f;
  background-color: #f2f2f2;
}

.footer-left-list {
  background-color: #f2f2f2;
}

.solid {
  height: 0.0187rem;
  border: 0;
  color: #333;
  background-color: #dadce0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-left-list ul {
  display: flex;
  flex-direction: row;
}

.footer-left-list li {
  padding: 0 0.625em 0 1.25em;
}

.footer-right-list ul {
  display: flex;
  flex-direction: row;
}

.footer-right-list li {
  padding: 0 1.25em 0 0.625em;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: auto;
  padding: 0.625em;
}

footer p {
  padding: 0 0.625em 0.9375em 1.25em;
  border-bottom: 0.0625em solid #dadce0;
}

@media (max-width: 44em) {
  .footer-flex {
    flex-direction: column;
  }

  .footer-left-list .list-padding,
  .footer-right-list .list-padding {
    padding: 0;
  }

  .footer-right-list {
    padding-top: 0.5em;
  }

  footer p {
    padding-left: 0;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 1em 0 1em;
}
